<div>

  <div>
    <app-toolbar></app-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="ifRefreash"></mat-progress-bar>
  </div>

  <div class="row">
    <div id="app-avatar-part">
      <app-avatar></app-avatar>
    </div>


      <app-experience></app-experience>
      <app-eduction></app-eduction>
      <app-self-introduction></app-self-introduction>
      <app-technical-skills></app-technical-skills>

  </div>

  <div id="home-buttom-part">
    <p>Copyright © 2020-2020 William Ding CV. Version 1.0.0</p>
  </div>
</div>